# Ignore dataset folders
datasets/

# Ignore preprocessed datasets
preprocessed-datasets/

# Ignore Python environment
venv/

#ignore screenshot folder
screenshots/

issues_file_dependencies.txt

#ignore model files
__pycache__/